# virtual envs
.venv*
venv*
.venv*/
venv*/
.python-version

# data folder
data/

# model folder
HDBSCAN_model/
bertopic_500/


# data csv
yelp_data_cleaned.csv

# exlcude python notebook files
*.ipynb


